<!-- Header -->
<header id="header">
  <div class="inner">
    <!-- Logo -->
    <h1><%= link_to 'SejaLivro', root_path %></h1>
    <!-- Nav -->
    <nav id="nav">
      <ul>
        <% if current_user.admin %>
        <li>
          <%= link_to 'Administrador', admin_index_path %>
        </li>
        <% end %>
        <li>
          <%= link_to 'Meu Perfil', "/profile/#{current_user.id}" %>
        </li>
        <li>
          <%= link_to 'Meu Livros', "/my_books/#{current_user.id}" %>
        </li>
        <li>
          <%= link_to 'Sair', logout_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>