		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<!-- Header -->
            <% if user_signed_in? %>
                <%= render 'main/login_top_menu' %>
            <% else %>
                <%= render 'main/logout_top_menu' %>
            <% end %>
					</div>
				</div>
				
			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
							<section class="container box feature1">
									<div class="row" id="adminIndex">
										<div class="12u">
											<header>
												<h2>Gerenciamento</h2>
											</header>
											<p><%= link_to "Gerenciar Livros", books_path, :class => "button" %> </p>
											<p><%= link_to "Gerenciar Categorias", categories_path, :class => "button" %> </p>
											<p><%= link_to "Gerenciar Livrarias", bookstores_path, :class => "button" %> </p>
										</div>
									</div>
								</section>								
							</div>
						</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
      <%= render 'main/footer' %>

		</div>