<%= form_for(@user, :html => { :id => "form_cadastro" }) do |f| %>
    <div class="row">

      <% if @user.errors.any? %>
          <div class="12u">
            <ul>
              <li><b><%= pluralize(@user.errors.count, "erros") %> foram encontrados no preenchimento do formulário.</b></li>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div class="4u">
        <section>
          <header>
            <h3>Dados pessoais</h3>
          </header>
          <article>
            <fieldset>
              <div class="12u form-field"><%= f.text_field :name, placeholder: "Nome", id: 'nome' %></div>
              <div class="12u form-field"><%= f.text_field :cpf, placeholder: "CPF", id: 'cpf' %></div>
              <div class="12u form-label" style="text-align: left; margin-bottom: -20px;"><%= f.label "Gênero" %></div>
              <div class="12u form-field-labeled">
                <%= f.select(:gender) do %>
                    <% [['Masculino', 0], ['Feminino', 1]].each do |c| -%>
                        <%= content_tag(:option, c.first, value: c.last) %>
                    <% end %>
                <% end %>
              </div>

              <div class="12u form-label" style="text-align: left; margin-bottom: -20px;"> <%= f.label "Nascimento" %></div>
              <div class="12u form-field-labeled"><%= f.date_select :birth_date,  order: [:day, :month, :year], :start_year => 1900, :end_year => 2000, prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}, use_month_numbers: true %></div>
            </fieldset>
          </article>
        </section>
      </div>

      <div class="4u">
        <section>
          <header>
            <h3>Endereço</h3>
          </header>
          <article>
            <fieldset>
              <%= f.fields_for :addresses do |ff| %>                  
                  <div class="12u form-field"><%= ff.text_field :country, placeholder: "País", id: 'pais' %></div>
                  <div class="12u form-field"><%= ff.text_field :zipcode, placeholder: "CEP", id: 'cep', onblur: "pesquisacep(this.value);" %></div>
                  <div class="12u form-field"><%= ff.text_field :city, placeholder: "Cidade", id: 'cidade' %></div>
                  <div class="12u form-field"><%= ff.text_field :state, placeholder: "Estado", id: 'uf' %></div>
                  <div class="12u form-field"><%= ff.text_field :quarter, placeholder: "Bairro", id: 'bairro' %></div>
                  <div class="12u form-field"><%= ff.text_field :street, placeholder: "Logradouro", id: 'rua' %></div>
                  <div class="12u form-field"><%= ff.text_field :complement, placeholder: "Complemento" %></div>
              <% end %>
            </fieldset>
          </article>
        </section>
      </div>

      <div class="4u">
        <section>
          <header>
            <h3>Cadastre uma senha</h3>
          </header>
          <article>

            <fieldset>
              <div class="12u form-field"><%= f.text_field :email, placeholder: "Email", id: 'email' %></div>
              <div class="12u form-field"><%= f.password_field :password, placeholder: "Senha", id: 'senha' %></div>
              <div class="12u form-field"><%= f.password_field :password_confirmation, placeholder: "Confirmação de Senha", id: 'conf_senha' %></div>
            </fieldset>
          </article>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="12u no-padding form-margin">
        <%= f.submit "Cadastrar", class: "button big icon fa-arrow-circle-right", id: 'cadastrar' %>
      </div>
    </div>

<% end %>