<div id="page-wrapper">

  <!-- Header -->
  <div id="header-wrapper">
    <div class="container">
      <% if user_signed_in? %>
          <%= render 'main/login_top_menu' %>
      <% else %>
          <%= render 'main/logout_top_menu' %>
      <% end %>
    </div>
  </div>

  <!-- Main Wrapper -->
  <div id="main-wrapper">
    <div class="wrapper style2">
      <div class="inner">

        <!-- Feature 1 -->
        <section class="container box feature1">


          <div class="12u" id="vantagens">
            <%= form_for(@user, :html => { :id => "form_cadastro" }) do |f| %>
                <div class="row">

                  <% if @user.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                        <ul>
                          <% @user.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>


                  <div class="4u">
                    <section>
                      <header>
                        <h3>Dados pessoais</h3>
                      </header>
                      <article>
                        <fieldset>
                          <div class="row">
                            <div class="12u form-field"><%= f.text_field :name, placeholder: "Nome" %></div>
                            <div class="12u form-field"><%= f.text_field :cpf, placeholder: "CPF" %></div>
                            <div class="12u form-label"><%= f.label "Gênero:" %></div>
                            <div class="12u form-field-labeled">
                              <%= f.select(:gender) do %>
                                  <% [['Masculino', 0], ['Feminino', 1]].each do |c| -%>
                                      <%= content_tag(:option, c.first, value: c.last) %>
                                  <% end %>
                              <% end %>
                            </div>


                            <div class="12u form-label"> <%= f.label "Nascimento:" %></div>
                            <div class="12u form-field-labeled"><%= f.date_select :birth_date,  order: [:day, :month, :year], :size => 5 %></div>
                          </div>

                        </fieldset>
                      </article>
                    </section>
                  </div>

                  <div class="4u">
                    <section>
                      <header>
                        <h3>Endereço</h3>
                      </header>
                      <article>
                        <fieldset>
                          <div class="row">
                            <%= f.fields_for :addresses do |ff| %>
                                <div class="12u form-field"><%= ff.text_field :zipcode, placeholder: "CEP" %></div>
                                <div class="12u form-field"><%= ff.text_field :street, placeholder: "Logradouro" %></div>
                                <div class="12u form-field"><%= ff.text_field :complement, placeholder: "Complemento" %></div>
                            <% end %>

                          </div>
                        </fieldset>
                      </article>
                    </section>
                  </div>

                  <div class="4u">
                    <section>
                      <header>
                        <h3>Cadastre uma senha</h3>
                      </header>
                      <article>

                        <fieldset>
                          <div class="row">
                            <div class="12u form-field"><%= f.text_field :email, placeholder: "Email" %></div>
                            <div class="12u form-field"><%= f.password_field :password, placeholder: "Senha" %></div>
                            <div class="12u form-field"><%= f.password_field :password_confirmation, placeholder: "Confirmação de Senha" %></div>
                          </div>
                        </fieldset>
                      </article>
                    </section>
                  </div>
                </div>

                <div class="row">
                  <div class="12u no-padding form-margin">
                    <%= f.submit "Cadastrar", class: "button big icon fa-arrow-circle-right" %>
                  </div>
                </div>

            <% end %>

          </div>



        </section>
      </div>
    </div>
  </div>

  <!-- Footer Wrapper -->
  <%= render 'main/footer' %>

</div>
