<div id="page-wrapper">

  <!-- Header -->
  <div id="header-wrapper">
    <div class="container">
      <% if user_signed_in? %>
          <%= render 'main/login_top_menu' %>
      <% else %>
          <%= render 'main/logout_top_menu' %>
      <% end %>
    </div>
  </div>

  <!-- Main Wrapper -->
  <div id="main-wrapper">
    <div class="wrapper style2">
      <div class="inner">

        <!-- Feature 1 -->
        <section class="container box feature1">


          <div class="12u" id="vantagens">
            <%= form_for(@user, :url => { action: :update }) do |f| %>
    <div class="row">

      <% if @user.errors.any? %>
          <div class="12u">
            <ul>
              <li><b><%= pluralize(@user.errors.count, "erros") %> foram encontrados no preenchimento do formulário.</b></li>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div class="12u">
        <section>        
          <header>
            <h3>Dados pessoais</h3>
          </header>
          <article>
            <fieldset>
              <label for="name" class="6u" style="text-align: left;"><span>Nome </span><%= f.text_field :name, id: 'nome' %></label>
              <label for="name" class="6u" style="text-align: left;"><span>CPF </span><%= f.text_field :cpf, id: 'cpf' %></label>
              <div class="6u form-label" style="text-align: left;"><%= f.label "Gênero" %></div>
              <div class="6u form-field-labeled">
                <%= f.select(:gender) do %>
                    <% [['Masculino', 0], ['Feminino', 1]].each do |c| -%>
                        <%= content_tag(:option, c.first, value: c.last) %>
                    <% end %>
                <% end %>
              </div>

              <div class="6u form-label" style="text-align: left; margin-bottom: -20px;"> <%= f.label "Nascimento" %></div>
              <div class="6u form-field-labeled"><%= f.date_select :birth_date,  order: [:day, :month, :year], :start_year => 1900, :end_year => 2000, prompt: {day: 'Dia', month: 'Mês', year: 'Ano'}, use_month_numbers: true %></div>
            </fieldset>
          </article>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="12u no-padding form-margin">
        <%= f.submit "Atualizar", class: "button icon fa-arrow-circle-right", id: 'atualizar' %>
      </div>
    </div>

<% end %>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- Footer Wrapper -->
  <%= render 'main/footer' %>
  
  <script type="text/javascript">
    $(document).ready(function() { $('#atualizar').on('click', function(e){
      if (!validateUserUpdate())
          e.preventDefault();
    })
  });
  </script>
</div>
