	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" style="background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('images/bg03.png'), url('images/bg02.png');">
					  
					<div class="container" style="background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));"> 
						<!-- Header -->
          				<%= render 'main/login_top_menu' %>
					</div>
				</div>

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row" id="vantagens">
										<div class="6u 12u(mobile)">
											<section>
												<header>
													<h3>Dados pessoais</h3>													
												</header>
												<a href="#" class="image featured"><img src="images/avatar.png" alt="" /></a>
												<dl class="inline">
													<dt>Nome:  </dt>
													<dd><%= @user.name %></dd>
													<dt>CPF: </dt>
													<dd><%= @user.cpf %></dd>
													<dt>Data de nascimento: </dt>
													<dd><%= @user.birth_date.to_formatted_s(:rfc822) %></dd>
													<dt>Endereço: </dt>
													<% address = @user.addresses.first %>
													<dd><%= address.street %>
													</dd>
													<dd><%= address.quarter %> </dd>
													<dd><%= address.zipcode + ', ' + address.city + ' - ' +  address.state%> </dd>
													<dd><%= address.country %> </dd>								
												</dl>
												<footer>
												  <p><%= link_to 'Atualizar dados', edit_user_path(@user), class: "button" %></p>
												  <p><%= link_to 'Atualizar endereço', edit_address_path(@user), class: "button" %></p>
												  <p><%= link_to 'Cancelar conta', "/users/delete_user/#{@user.id}", method: :post, class: "button" %></p>
												</footer>
											</section>
										</div>
										<div class="6u 12u(mobile)">
											<section>
												<header>
													<h3>Dados de assinatura</h3>
												</header>
												<% if @user_signatures.count == 0 %>
													 <dt>Status da assinatura: </dt>
													 <dd>Não possui assinaturas</dd>
													 <footer>
												  		<p><a href="/#simular" class="button" style="align: center;">Nova Assinatura</a></p>
													</footer>
												<% else %>
													<% @user_signatures.each do |signature| %>
														<dl class="inline">
															<dt>Status da assinatura: </dt>
															<dd> ATIVA </dd>
															<dt>Periodicidade: </dt>
															<dd><%= @periodicity.find(signature.periodicity_id).name %></dd>
														</dl>
                                <footer>
                                  <p>
                                    <%= link_to "Cancelar Assinatura", "/signature/cancel_signature/#{signature.id}", method: :post, class: "button" %>
                                  </p>
                                </footer>
													<% end %>
												<% end %>												
											</section>
										</div>
                    <!--
										<div class="6u 12u(mobile)">
											<section>
												<header>
													<h3>Biblioteca pessoal</h3>
												</header>
												<article>
													<div class="row" id="livros">
													<% if @user_books.count == 0 %>
														<span style="font-weight: bold;"> Não possui itens. </span><br>
														<% else
															if @user_books.count > 6
																max = 6
															else
																max = @user_books.count
															end
															@user_books[0..max].each do |book| %>
																<% b = Book.find(book.book_id) %>
											        			<div class="1.5u 6u(mobile)">
												        			<%= image_tag("/images/books_cover/#{b.id}.jpg",:id => "capa") %><br>
	        														<span style="font-weight: bold;"> <%= b.name %></span><br>
							        								<span style="font-style: italic;"> <%= b.author %></span><br>
										        				</div>
									        				<% end %>
									        			<% end %>
    												</div>
												</article>
												<footer>
												<%= link_to "Ver todos", "/my_books/#{@user.id}", :class => "button" %>
												</footer>
											</section>
										</div> -->
									</div>
								</section>
							</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
			<%= render 'main/footer' %>