<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	oi
-->
<html>
	<head>
		<title>SejaLivro - Assinatura Literária</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
      <div id="header-wrapper">
        <div class="container">
          <% if user_signed_in? %>
              <%= render 'main/login_top_menu' %>
          <% else %>
              <%= render 'main/logout_top_menu' %>
          <% end %>

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
							<section class="container box feature1">
									<div class="row" id="viewBook">
										<div class="12u">
											<header>
												<h2>Visualizar item</h2>
											</header>
										</div>
									</div>
							</section>
								<div class="row">
									<div class="6u 12u(mobile)" style="text-align:right">
										<%= image_tag("/images/books_cover/#{@book.id}.jpg",  float:'right', width:'auto', height:'400') %>
									</div>
									<div class="6u 12u(mobile)">
										<dl class="inline">
											<dt>ID:</dt>
											<dd><%= @book.id %></dd>
											<dt>Nome:</dt>
											<dd><%= @book.name %></dd>
											<dt>ISBN:</dt>
											<dd><%= @book.isbn %></dd>
											<dt>Autor:</dt>
											<dd><%= @book.author %></dd>
											<dt>Ano:</dt>
											<dd><%= @book.year %></dd>
											<dt>Idioma:</dt>
											<dd><%= @book.language %></dd>
											<dt>Editora:</dt>
											<dd><%= @book.publisher %></dd>
										</dl>
									</div>
								</div>
								<section class="container box feature1">
									<div class="row">
										<div class="12u">
											<span> <%= link_to 'Voltar', books_path, class: "button" %>
                          							<%= link_to 'Editar', edit_book_path(@book), class: "button" %>
                          							<%= link_to 'Excluir', @book, method: :delete, class: "button" %>
											  </span>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>

				<div class="12u">
											<header>
												<h2></h2>
											</header>

											<footer>

											</footer>
										</div>
									</div>
							  </section>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
			<%= render 'main/footer' %>