<%= form_for(bookstore) do |f| %>
    <% if bookstore.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this bookstore from being saved:</h2>

          <ul>
            <% bookstore.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Nome' %>
      <%= f.text_field :name, id: 'nome' %>
    </div>

    <div class="field">
      <%= f.label 'Telefone' %>
      <%= f.text_field :telephone, id:'telefone' %>
    </div>

    <div class="field">
      <%= f.label 'CNPJ' %>
      <%= f.text_field :cnpj, id: 'cnpj' %>
    </div>

    <div class="actions">
      <%= f.submit "Salvar", id: 'salvar' %>
      <%= link_to "Cancelar", bookstores_path, class: "button" %>
    </div>
<% end %>