<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	oi
-->

<html>
<body class="homepage">
    <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper" style="background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('images/bg03.png'), url('images/bg02.png');"> 
          <div class="container">
            <!-- Header -->
            <% if user_signed_in? %>
			                <%= render 'main/login_top_menu' %>
			            <% else %>
			                <%= render 'main/logout_top_menu' %>
			            <% end %>
          	</div>
        </div>
				
			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<section class="container box feature1">
									<div class="row" id="bookstoreList">
										<div class="12u">
											<header>
												<h2>Livrarias</h2> <br>
												<div class="row">
													<div class="6u">
													<%= form_tag search_bookstores_path do %>
													<%= label_tag(:q, "Buscar livraria pelo nome:") %>
													<input type="search" id="search" placeholder="Buscar livrarias" type="text" name="query">
													<%= submit_tag("Buscar") %>
													<% end %>
													</div>
													<div class="6u">
													<%= link_to "Adicionar livraria", "/bookstores/new", :class => "button" %>
													</div>
												</div>
												
											</header>
											<div class="row"> 
												<div class="1u"> 
													<b>ID</b>
												</div>
												<div class="2u"> 
													<b>NAME</b>
												</div>
												<div class="2u"> 
													<b>CNPJ</b>
												</div>
												<div class="2u"> 
													<b>Telephone</b>
												</div>
												<div class="5u"> 
													<b>Options</b>
												</div>
											</div>
											<% if @bookstores.count == 0 and @q != nil %>
												<div class="row"> 
													<div class="12u">
														<h2>
															<%= "Não há livrarias cadastradas com esse nome" %>
														</h2>
													</div>
												</div>
												<div class="row"> 
													<div class="12u">
														<%= link_to "Voltar", "/bookstores/", :class => "button" %>
														</div>
												</div>
											<% end %>
											<% @bookstores.each do |bookstore| %>
												<div class="row"> 
													<div class="1u"> 
														<%= bookstore.id %>
													</div>
													<div class="2u"> 
														<%= bookstore.name %>
													</div>
													<div class="2u"> 
														<%= bookstore.cnpj %>
													</div>
													<div class="2u"> 
														<%= bookstore.telephone %>
													</div>
													<div class="5u"> 
													<span> 
														<%= link_to "Visualizar", "/bookstores/#{bookstore.id.to_s}/view/", :class => "button" %>
														<%= link_to "Editar", "/bookstores/#{bookstore.id.to_s}/edit/", :class => "button" %>
														<%= link_to "Deletar", "/bookstores/#{bookstore.id.to_s}/del/", :class => "button" %>
	
													</div>
												</div>
											<% end %>	
										</div>
									</div>	
								</section>
							</div>
						</div>
					</div>
				</div>
				
			<!-- Footer Wrapper -->
			<%= render 'main/footer' %>