<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	oi
-->
<html>
	<head>
		<title>SejaLivro - Assinatura Literária</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
							<!-- Header -->
          <div id="header-wrapper" style="background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('images/bg03.png'), url('images/bg02.png');"> 
          <div class="container">
            <!-- Header -->
            <% if user_signed_in? %>
			                <%= render 'main/login_top_menu' %>
			            <% else %>
			                <%= render 'main/logout_top_menu' %>
			            <% end %>
          	</div>
        </div>
				
			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
							<section class="container box feature1">
									<div class="row" id="viewBookstore">
										<div class="12u">
											<header>
												<h2>Visualizando Livraria <%= @bookstore.name %></h2>
											</header>
										</div>
									</div>
										<div class="row">
											<div class="4u">
												<h1>Dados</h1>
												<dl class="inline">
													<dt>ID:</dt>
													<dd><%= @bookstore.id %></dd>
													<dt>Nome:</dt>
													<dd><%= @bookstore.name %></dd>
													<dt>CNPJ:</dt>
													<dd><%= @bookstore.cnpj %></dd>
													<dt>Telefone:</dt>
													<dd><%= @bookstore.telephone %></dd>
													<!--<dt>E-mail:</dt>
													<dd>E-mail da Livraria</dd>		-->									
												</dl>

												<span> 
														<%= link_to "Voltar", "/bookstores", :class => "button" %>
														<%= link_to "Editar", "/bookstores/#{@bookstore.id.to_s}/edit/", :class => "button" %>
														<%= link_to "Deletar", "/bookstores/#{@bookstore.id.to_s}/del/", :class => "button" %>
												</span>
											</div>

											<div class="4u">
												<h1>Pedidos</h1>
													<% if @bookstore_orders.count == 0 %>
														 <dt>Não há registro de pedidos</dt>
												<% else %>
													<dl class="inline">
														<dt>Data </dt>
														<dt>Status </dt>
													</dl>
													<% @bookstore_orders.each do |order| %>
														<dl class="inline">
															<dd><%= order.date.to_formatted_s(:rfc822) %></dd>
															<dd><%= order.status %></dd>
														</dl>
													<% end %>
												<% end %>



											</div>

											<div class="4u">
												<h1>Catálogo</h1>
													<% if @bookstore_books.count == 0 %>
														 <dt>Não há livros no catálogo</dt>
												<% else %>
													<div class="row"> 
													<div class="1u">ID</div>
													<div class="4u">Título</div>
													<div class="4u">Autor</div>
													<div class="1u">Estoque</div>
													</div>
			
													<% @bookstore_books.each do |book| %>
														<% b = Book.find(book.book_id) %>
														
														<div class="row">		

													<div class="1u"><%= b.id %></div>
													<div class="4u"><%= b.name %></div>
													<div class="4u"><%= b.author %></div>
													<div class="1u"><%= book.stock %></div>
													</div>
													<% end %>
												<% end %>
											</div>


										</div>
			
								</section>								
							</div>
						</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
				<%= render 'main/footer' %>