<div id="page-wrapper">

  <!-- Header -->
  <div id="header-wrapper" style="background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('images/bg03.png'), url('images/bg02.png');">

    <div class="container" style="background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));">
      <% if user_signed_in? %>
          <%= render 'main/login_top_menu' %>
      <% else %>
          <%= render 'main/logout_top_menu' %>
      <% end %>
    </div>
  </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
  <div class="wrapper style2">
    <div class="inner">

      <!-- Feature 1 -->
      <section class="container box feature2">
        <div class="row" id="logar">
          <div class="6u 12u(mobile)">
            <section>
              <header>
                <h2>Detalhes da Assinatura</h2>
              </header>
              <p align="left" style="margin-bottom: 0px">
                <b>PERIDIOCIDADE:</b> <%= @peridiocity.name %>
              </p>
              <p align="left" style="margin-bottom: 0px">
                <b>QUANTIDADE:</b> <%= cookies[:form_signature_quantity] %>
              </p>
              <p align="left" style="margin-bottom: 0px">
                <b>PERÍODO:</b> <%= cookies[:form_signature_period] %>
              </p>
              <p align="left">
                <b>CATEGORIAS SELECIONADAS:</b>
                <% @categories.each do |category| %>
                  <%= category.name %>
                <% end %>
              </p>

              <p>R$ <span class="valorDestaque" id="valor"><%= cookies[:form_signature_resulted_value] %> </span></p>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <header>
                <h2>Forma de pagamento</h2>
              </header>
              <article>
                <form action="#" method="post">
                  <fieldset>
                    <p align="left">
                      <label for="card"><input type="radio" name="formaPagamento" id="card" value="card" onclick="selectedPaymentMethod(0)" /> Cartão de crédito</label>
                      <label for="boleto"><input type="radio" name="formaPagamento" id="boleto" value="boleto" onclick="selectedPaymentMethod(1)" /> Boleto</label>
                    </p>
                  </fieldset>

                </form>
                <div id=paymentType>
                  <p>Escolha a forma de pagamento</p>
                </div>

                <%= link_to "Avançar", "#", :class => "button", :id => "go_to_payment" %>

              </article>
            </section>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

<!-- Footer Wrapper -->
<%= render 'main/footer' %>

</div>