<!DOCTYPE HTML>
<!--
	ZeroFour by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	oi
-->
<html>
	<head>
		<title>SejaLivro - Assinatura Literária</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
       <div id="header-wrapper">
          <div class="container">
            <!-- Header -->
              <% if user_signed_in? %>
                      <%= render 'main/login_top_menu' %>
                  <% else %>
                      <%= render 'main/logout_top_menu' %>
                  <% end %>
          </div>
        </div>
				
			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
							<section class="container box feature1">
									<div class="row" id="viewCategory">
										<div class="4u">
											<header>
												<h2>Categoria</h2>
											</header>
											<dl class="inline">
												<dt>ID:</dt>
												<dd><%= @category.id %></dd>
												<dt>Nome:</dt>
												<dd><%= @category.name %></dd>								
											</dl>
											<img id="categoria" src="images/categoria.png"/><br>
											<span> 
												<%= link_to "Voltar", "/categories", :class => "button" %>
												<%= link_to "Editar", "/categories/#{@category.id.to_s}/edit/", :class => "button" %>
												<%= link_to "Excluir", "/categories/#{@category.id.to_s}/del/", :class => "button" %>
											</span>
										</div>
										<div class="4u"> 
											<header>
												<h2>Livros nesta categoria</h2>
											</header>
												<% if @category_book_cats.count == 0 %>
													 <dt>Não há livros cadastrados nessa categoria</dt>
												<% else %>
													<dl class="inline">
														<dt>ID </dt>
														<dt>Nome </dt>
													</dl>
													<% @category_book_cats.each do |book| 
														b = Book.find(book[:id])%>
														<dl class="inline">
															<dd><%= b.id  %></dd>
															<dd><%= b.name %></dd>
														</dl>
													<% end %>
												<% end %>
										</div>
										<div class="4u"> 
											<header>
												<h2>Usuários com essa preferência</h2>
											</header>
													<% if @category_user_prefs.count == 0 %>
													 <dt>Não há usuários cadastrados com essa preferência</dt>
												<% else %>
													<dl class="inline">
														<dt>ID </dt>
														<dt>Nome </dt>
													</dl>
													<% @category_user_prefs.each do |user| 
														u = User.find(user[:id])%>
														<dl class="inline">
															<dd><%= u.id  %></dd>
															<dd><%= u.name %></dd>
														</dl>
													<% end %>
												<% end %>
										</div>
									</div>
								</section>								
							</div>
						</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
			<%= render 'main/footer' %>